@tailwind base;
@tailwind components;
@tailwind utilities;


* { box-sizing: border-box }

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

a {
  color: #60b5cc;
}